.card {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
}

.card h2 {
    margin-top: 15px;
}

p {
    margin-bottom: 0px;
    margin-top: 5px;
}

.description {
    height: 20px;
    text-align: center;
    margin-bottom: 40px;
}

img {
    width: 350px;
    border-radius: 10px;
}