
.presentation-container {
    text-align: center;
    margin-bottom: 50px;
}

.presentation-container h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    /* color: white; */
    /* padding: 20px; */
    /* min-height: 100vh; */
}

